* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
  }
.app{
  margin: 10px;
}
  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }