* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
#app{
  width: 50%;
}
.app{
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: flex-start;
  background-size: 100% 100%;
}
